# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.pnpm

# Next.js build output
/.next/
/out/
/build

# Testing
/coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Environment variables kanbi never commit these
.env
.env.local
.env.development.local
.env.test.local
.env.production
.env.production.local
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Misc
*.pem
.npm
.node_repl_history

# Build output
dist
